<% include partials/header %>
    <h1>UPDATE TO</h1>
    <form class="" action="/updated" method="post">
      <input type="hidden" name="id" value=<%= data.id %>>
      <input type="textarea" name="title" value=<%= data.title%>><br>
      <input type="radio" name="complete" value="true" checked> complete<br>
      <input type="radio" name="complete" value="false"> uncomplete<br>
      <input type="submit" value="submit">
    </form>
<% include partials/footer %>
