<% include static/header %>
    <form action="/updated" method="post">
        <br>
        <label>id</label>
        <input type="text" name="id" value="<%=list.id%>" readonly="true">
        <label>title</label>
        <input type="text" name="title" value="<%=list.title%>">
        <%if(list.is_complete == true){%>
          <input type="radio" name="complete" value="true" checked> Complete<br>
          <input type="radio" name="complete" value="false"> Uncomplete<br>
        <%} else {%>
          <input type="radio" name="complete" value="true"> Complete<br>
          <input type="radio" name="complete" value="false" checked> Uncomplete<br>
        <%}%>
        <input type="submit" value="Submit">
    </form>
    <% include static/footer %>
