<form action="/" method="post">
<br>
  <label>title</label>
  <input type="text" name="title">
  <label>user_email</label>
  <input type="text" name="email">
  <input type="submit" value="Submit">
</form>
