<form action="/updates" method="post">
<br>
  <label>id</label>
  <input type="text" name="id" value="<%=list.id%>" readonly="true" >
  <label>title</label>
  <input type="text" name="title" value="<%=list.title%>">
  <label>is_completed</label>
  <input type="text" name="complete" value="<%=list.is_complete%>" >
  <input type="submit" value="Submit">
</form>
